#geschichte {
	text-align: center;
}

#geschichte ul#history {
	/*font-size: 1em;*/
	cursor: default !important;
	display: inline-block;
}

#geschichte ul#history li {
	float: left;
}

#geschichte ul#history li.hr {
	list-style-type: none;
	width: 25px;
}

#geschichte ul#history li.entry {
	list-style-type: none;
}

#geschichte ul#history li.entry b.year{
	font-size: 1.5em;
}

#geschichte ul#history li.entry ul.text {
	display: inline-block;
	position: absolute;
	left: 25%;
	top: 275px;
	width: 50%;
	padding: 5px;
	/*margin-top: 25px;*/
}

#geschichte ul#history li.entry ul.text li.line {
	list-style-type: none;
	float: none;
	padding: 0.25em;
	text-align: left;
}

#geschichte ul#history li.entry ul.text li.space {
	list-style-type: none;
	height: 0.5em;
}

#geschichte ul#history li.entry>ul.text {
	display: none;
}

#geschichte ul#history li.entry:hover>ul.text {
	display: inline-block;
}