td.news_space {
	width: 10%;
	border: none;
}

td#news {
	width: 80%;
	border: none;
	border-color: #0000ff;
	text-align: center;
	background: #bbefef;
	background: #ddefef;
}

td#news a {
	color: #5567ef;
    font-size: 0.75em;
}

td#news p#header {
	font-size: 2em;
	font-weight: bold;
	font-family: Arial;
}

td#news p#text {
	font-size: 1.5em;
	font-family: Arial;
}

td#news div#links{
	font-size: 1.5em;
	font-family: Arial;
}

td#news .button_24_1 {
	background: #00909b;
    background: -webkit-linear-gradient(#00909b, #00808b);
    background: linear-gradient(#00909b, #00808b);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    width: 137px;
    height: 49px;
    font: normal 700 24px/49px "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    border: none;
}

td#news .button_16_1 {
	background: #00909b;
    background: -webkit-linear-gradient(#00909b, #00808b);
    background: linear-gradient(#00909b, #00808b);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    width: 137px;
    height: 49px;
    font: normal 700 16px/49px "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    border: none;
}

td#news .button_16_2 {
    background: #00909b;
    background: -webkit-linear-gradient(#00909b, #00808b);
    background: linear-gradient(#00909b, #00808b);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    width: 137px;
    height: 98px;
    font: normal 700 16px/49px "Calibri", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    border: none;
}